<head>
    <Title>New Post</Title>
</head>

<form method="POST" action="/new">
    <h1>New Post</h1>
    <label for="user"><strong>User:</strong></label>
    <input placeholder="User" type="text" name="user">
    <br>
    <label for="text"><strong>Text:</strong></label>
    <input placeholder="Text" type="text" name="text">
    <br>
    <button>Submit</button>
</form>